.sider {
  height: 100vh;
  overflow: 'auto';
  /*position: 'fixed';*/
  left: 0;
}

.nav-text {
	font-size: 16px;
}

.btn_default {
	float: right;
	margin: 0px 6px 0px 6px;
}

.btn_group {
	margin: 6px 0px 6px 0px;
	height: 45px;
}